@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

label {
  font-size: 16px;
  margin-top: 10px;
}

input::placeholder {
  color: #344e4130;
}

li a {
  position: relative;
  text-decoration: none;
  padding-bottom: 7px; /* Space for the underline */
}

li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1a237e;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

[data-theme="synthwave"] body {
  background-color: black;
  color: gray;
}

[data-theme="light"] body {
  background-color: #ffffff;
  color: #000000;
}

[data-theme="synthwave"] h1 {
  color: #1a237e;
}

[data-theme="synthwave"] .navbar {
  background-color: black;
  color: white;
}

[data-theme="light"] li {
  color: #000000;
}
